# GitHub App
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# OpenAI
OPENAI_API_KEY=

# Redis
REDIS_URL=redis://localhost:6379

# PostgreSQL
DATABASE_URL=   ://postgres:postgres@localhost:5432/ai_pr_reviewer

# Server
PORT=3000
LOG_LEVEL=info
